@import "css/reset.css";
@import "css/fonts.css";


body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    height: 200vh;
}


nav {
    background-color: #383E4C;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

nav li {
    list-style: none;
    display: inline;
    background-color: #383E4C;
    font-size: 20px;
    line-height: 20px;
    color: white;
    padding: 15px 25px;
    margin: 10px 10px 15px 10px;
    border: solid 1px #646d7c;
    text-transform: capitalize;
}

nav li:hover {
    background-color: #49505F;
}